.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 690px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: red;
    color: white;
    text-align: center;
  }